{% extends "main.html" %}
{% block signin %}
    <div id="auth_result">
        <!-- GOOGLE PLUS SIGN IN BUTTON--> 
        <span id="signinButton" class="g-signin"
          data-scope="openid email"
          data-clientid="{{client_id}}"
          data-redirecturi="postmessage"
          data-accesstype="offline"
          data-cookiepolicy="single_host_origin"
          data-callback="signInCallback"
          data-approvalprompt="force">
        </span><br>
        <!--END GOOGLE PLUS SIGN IN BUTTON -->
        <em>you need a Google account to log in</em> 
    </div>

    <script>
    function signInCallback(authResult) {
        if (authResult['code']) {
        /* Send the one-time-use code to the server, if the server responds, 
        write a 'login successful' message to the web page and then redirect 
        back to the main restaurants page */
        $('#auth_result').html('Checking...')
        $.ajax({
            type: 'POST',
            url: '/gconnect?state={{STATE}}',
            processData: false,
            data: authResult['code'],
            contentType: 'application/octet-stream; charset=utf-8',
            success: function(result) {
                // Handle or verify the server response if necessary.
                if (result) {
                    $('#auth_result').html(
                        result+'</br>Welcome! Redirecting...'
                    );
                    setTimeout(function() {
                        window.location.href = '/';
                    }, 4000);  
                } else if (authResult['error']) {
                    console.log('There was an error: '+authResult['error']);
                } else {
                    $('#auth_result').html(
                        'Failed to make a server-side call. '+
                        'Check your configuration and console.'
                    );
                }
            }
        }); 
        } 
    }
    </script>
{% endblock %}