{% extends "main.html" %}
{% block signin %}
    <div id="auth_result">
        <!-- GOOGLE PLUS SIGN IN BUTTON-->
        <img id="signinButton" src="{{url_for('static', filename='img/gsignin.png')}}"><br>
        <!--END GOOGLE PLUS SIGN IN BUTTON -->
        <span><em>you need a Google account to log in</em></span>
    </div>

    <script>
        function start() {
            gapi.load('auth2', function() {
                auth2 = gapi.auth2.init({
                    client_id: '{{client_id}}'
                });
            });
        }
    </script>

    <script>
        $('#signinButton').click(function() {
            function signInCallback(authResult){
                if (authResult['code']) {
                    $('#auth_result').html('Checking...');
                    $.ajax({
                        type: 'POST',
                        url: '/gconnect?state={{STATE}}',
                        headers: {
                            'X-Requested-With': 'XMLHttpRequest'
                        },
                        contentType: 'application/octet-stream; charset=utf-8',
                        success: function(result) {
                            $('#auth_result').html(
                                result + '</br>Welcome! Redirecting...'
                            );
                            setTimeout(function() {
                                window.location.href = "/";
                            }, 4000);
                        },
                        processData:false,
                        data:authResult['code']
                    });
                } else {
                // handle error
                console.log('There was an error: ' + authResult['error']);
                $('#auth_result').html(
                    'Failed to make a server-side call. '+
                    'Check your configuration and console.'
                );
                }
            }
            auth2.grantOfflineAccess().then(signInCallback);
        });
    </script>
{% endblock %}