{% extends "main.html" %}
{% block content %}
{% include "navigation.html" %}
    <div class="update_book">
        <span class="noselect">{{currentCategory.name}}</span><br>
        <span class="noselect">Update book info</span>
        <form action="#" method = "post">
            <label for="title">Title:</label>
            <input type ="text" maxlength="80" name="title" value="{{bookToUpdate.title}}" required>

            <label for="author">Author:</label>
            <input type ="text" maxlength="80" name="author" value="{{bookToUpdate.author}}" required>

            <label for="category">Category:</label>
            <select name="category">
                {% for category in categories %}
                    <option value="{{category.id}}" {% if category.id == currentCategory.id %} selected {% endif %}>
                        {{category.name}}
                    </option>
                {% endfor %}
            </select>

            <label for="description">Description:</label>
            <textarea maxlength="250" name="description" required>{{bookToUpdate.description}}</textarea>

            <button type="submit">save changes</button>
        </form>
    </div>
{% endblock %}